<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}
	<link href="{{ .Site.BaseURL }}css/single.css" rel="stylesheet">

  <body onscroll="bodyScrolled()">

          {{ partial "nav.html" . }}
        <div class="single__content">
					{{ if isset .Params "id" }}

					{{ partial .Params.id . }}

					{{ else }}
         
					{{ .Content }}

					{{ end }}
		</div>
		{{ partial "footer.html" . }}

    {{ partial "scripts.html" . }}
		
  </body>
</html>
