{{ if isset .Site.Params "features" }}
{{ if .Site.Params.features.enable }}
{{ if gt (len .Site.Data.features) 0 }}
<div class="features-container">
	<div class="features__titles-container">
		{{ range .Site.Data.features }}
		<button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored features__title" onclick="showFeatureByWeight('{{ .weight }}')" id="features-title--for-{{ .weight }}">
			<i class="material-icons">{{ .icon }}</i>
		</button>
		<div class="mdl-tooltip" data-mdl-for="features-title--for-{{ .weight }}">
			{{ .name }}
		</div>
		{{ end }}
	</div>
	<div class="features__text-container">
		{{ range .Site.Data.features }}
		<div class="feature-container" id="feature-container--for-{{ .weight }}">
			<p class="feature__text__title">{{ .name }}</p>
			<p class="feature__text__content">{{ .description }}</p>
		</div>
		{{ end }}
	</div>
</div>
{{ end }}
{{ end }}
{{ end }}