<div class="footer-container mdl-grid">
	{{ if isset .Site.Params "about_us" }}
	<div class="footer__about-us mdl-cell mdl-cell--8-col mdl-cell--2-col-phone">
		<p class="footer__about-us__title">About us</p>
		<p class="footer__about-us__text">{{ .Site.Params.about_us | safeHTML }}</p>
		<div id="footer__copyright">						
		{{ if isset .Site.Params "attributions" }}
		{{ range .Site.Params.attributions }}
		<a class="footer__attribution-text" href="{{ .url }}">{{ .text }}</a>
		<br>
		{{ end }}
		{{ end }}
	</div>
	</div>
	{{ end }}
	<div class="footer__links mdl-cell mdl-cell--4-col mdl-cell--2-col-phone">
		{{ range .Site.Params.social }}
		<button class="mdl-button mdl-js-button mdl-button--icon footer__link" onclick="openURL({{ .url }})">
			<i class="{{ .icon }}" aria-hidden="true"></i>
		</button>
		{{ end }}
	</div>
</div>

