<head>
  <meta charset="utf-8">
  <meta name="robots" content="all,follow">
  <meta name="googlebot" content="index,follow,snippet,archive">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ .Title }}</title>

  <meta name="author" content="{{ .Site.Author.name }}" />
  <meta name="keywords" content="">

  {{ if .Description }}
  <meta name="description" content="{{ .Description }}">
  {{ end }}

  {{ .Hugo.Generator }}

  <!-- Fonts -->
	<link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,500,700,800' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,600i,700,700i" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

  <!-- Material Components and icons -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.orange-deep_orange.min.css" />

  <!-- Stylesheets  -->
  <link href="{{ .Site.BaseURL }}css/main.css" rel="stylesheet">
  <link href="{{ .Site.BaseURL }}css/light.css" rel="stylesheet" id="colour-styles">
	<!-- Additional stylesheets are linked from their respective pages -->
	
  <!-- Favicon -->
  <link rel="shortcut icon" href="{{ .Site.BaseURL }}img/favicon.ico" type="image/x-icon" />
</head>

<style>
	.header-container {
		background-image: url("{{ .Site.BaseURL }}img/nav_banner.jpg");
	}
</style>
