{{ if .Site.Params.EnforceSSL }}
<script type="text/javascript">
    if (window.location.protocol != "https:")
        window.location.protocol = "https";
</script>
{{ end }}
<div class="navbar-container">
		<div class="mdl-grid">
			<div class="mdl-cell mdl-cell--6-col mdl-cell--3-col-phone navbar__title-container" onclick="openURL('', '_self')">
				<img class="logo" src="{{ .Site.BaseURL }}img/logo_plus.png">
				<p class="title">{{ .Title }}</p>
			</div>
			<div class="mdl-cell mdl-cell--6-col mdl-cell--1-col-phone">
				<div class="navbar__buttons-container">
					<div class="mdl-cell--hide-desktop mdl-cell--hide-tablet">
						<button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored navbar__hamburger" onclick="toggleNavMenu()">
							<i class="material-icons">menu</i>
						</button>
						<br>
						<br>
				</div>
					{{ range .Site.Menus.main }} {{ if .HasChildren }}
					<button class="mdl-button mdl-js-button mdl-js-ripple-effect navbar__buttons--with-dropdown" id="nav-button-{{ .Name }}">
						{{ .Name }}
					</button>
					<div class="navbar__submenu-container mdl-cell--hide-desktop mdl-cell--hide-tablet" id="nav-sub-{{ .Name }}"></div>
					<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect mdl-cell--hide-phone navbar__buttons__dropdown"
							for="nav-button-{{ .Name }}" id="nav-dropdown-{{ .Name }}">
						{{ range .Children }}
						<li class="mdl-menu__item navbar__buttons__dropdown-item" onclick="openURL('{{ .URL }}', '_self')">{{ .Name }}</li>
						{{ end }}
					</ul>
					{{else}}
					<button class="mdl-button mdl-js-button mdl-js-ripple-effect navbar__buttons--with-dropdown" onclick="openURL('{{ .URL }}', 	'_self')">
						{{ .Name }}
					</button>
					{{end}}
					{{end}}
				</div>
			</div>
	</div>
</div>