{{ if isset .Site.Params "carousel" }}
{{ if .Site.Params.carousel.enable }}
{{ if gt (len .Site.Data.carousel) 0 }}
<div class="projects-container">
	<p class="projects-container__title">Our projects</p>
	<div class="mdl-grid">
		<div class="mdl-cell mdl-cell--3-col mdl-cell--hide-phone">
			{{ range .Site.Data.carousel }}
			<button class="mdl-button mdl-js-button mdl-js-ripple-effect project__button" id="project__button--for-{{ .title }}" onclick="showProjectByTitle('{{ .title }}')">
				{{ .title }}
			</button>	
			{{ end }}
		</div>
		<div class="mdl-cell mdl-cell--9-col mdl-cell--4-col-phone">
			{{ range .Site.Data.carousel }}
			<div class="project" id="project--for-{{ .title }}">
				<div class="mdl-grid">
					<div class="mdl-cell mdl-cell--6-col">
						<p class="project__title">{{ .title }}</p>
						<p class="project__description">{{ .description }}</p>
						<button class="mdl-button mdl-js-button mdl-js-ripple-effect project__more-info-button" onclick="openURL('{{ .url }}', '_self')">
							Learn more
						</button>	
					</div>
					<div class="mdl-cell mdl-cell--6-col mdl-cell--hide-phone">
						<img src="{{ .image }}" class="project__image">
					</div>
				</div>
			</div>	
			{{ end }}
		</div>
	</div>
</div>
{{ end }}
{{ end }}
{{ end }}
