{{ template "_internal/google_analytics.html" . }}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<script src="{{ .Site.BaseURL }}js/scripts.js"></script>

<script>
	function openURL(url, mode) {
		if(url.includes('http')) {
			window.open(url, mode);
		} else {
			window.open('{{ .Site.BaseURL }}' + url, mode);	
		}
	}

	function toggleTheme() {
		var styleSheet = document.getElementById('colour-styles');
		if(styleSheet.href == '{{ .Site.BaseURL }}css/light.css')
			styleSheet.href = '{{ .Site.BaseURL }}css/dark.css';
		else
			styleSheet.href = '{{ .Site.BaseURL }}css/light.css';
	}
</script>