<div class="search-container">
	<div class="mdl-grid search-bar">
		<div class="mdl-cell mdl-cell--1-col mdl-cell--middle mdl-cell--1-col-phone">
			<i class="material-icons search__icon">search</i>
		</div>	
		<div class="mdl-cell mdl-cell--11-col mdl-cell--3-col-phone">
			<input type="text" class="search-bar__input" placeholder="Hit enter to search">
		</div>		
	</div>
</div>