{{ if isset .Site.Params "see_more_gitlab" }}
{{ if .Site.Params.see_more_gitlab.enable }}
<div class="source-container">
	<p class="source__title">{{ .Site.Params.see_more_gitlab.title }}</p>
	<p class="source__subtitle">{{ .Site.Params.see_more_gitlab.subtitle }}</p>
	<button class="mdl-button mdl-js-button mdl-js-ripple-effect source__button"	onclick="window.open('{{ .Site.Params.see_more_gitlab.link_url }}')">
		{{ .Site.Params.see_more_gitlab.link_text }}
	</button>
	
	<button class="mdl-button mdl-js-button mdl-js-ripple-effect source__button"	onclick="window.open('{{ .Site.Params.see_more_github.link_url }}')">
		{{ .Site.Params.see_more_github.link_text }}
	</button>
</div>
{{ end }}
{{ end }}
