{{ if isset .Site.Params "sponsors" }}
{{ if .Site.Params.sponsors.enable }}
{{ if gt (len .Site.Data.sponsors) 0 }}
<div class="sponsor-container">
	<p class="sponsor__title">{{ .Site.Params.sponsors.title }}</p>
	<div class="mdl-grid">
		{{ range .Site.Data.sponsors }}
		<div class="mdl-cell mdl-cell--6-col">
			<a href="{{ .url }}">
				<img src="{{ .image }}" alt="{{ .name }}" class="sponsor__image"/>
			</a>
		</div>
		{{ end }}
	</div>
</div>
{{ end }}
{{ end }}
{{ end }}
