{{ if isset .Site.Params "clients" }}
{{ if .Site.Params.clients.enable }}
{{ if gt (len .Site.Data.clients) 0 }}
<div class="team-container">
	<p class="team__title">{{ .Site.Params.clients.title }}</p>
	<p class="team__subtitle">{{ .Site.Params.clients.subtitle }}</p>
		<div class="mdl-grid">
			{{ range .Site.Data.clients }}
			<div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-phone">
				<div class="team__item">
					<img src="{{ .image }}" alt="{{ .name }}" class="team__image"/>
					<p class="team__name">{{ .name }}</p>
					{{ if .url }}
					<button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect team__link-button"	onclick="window.open('{{ .url }}')">
						<i class="material-icons">link</i>
					</button>
					{{ end }}
				</div>
			</div>
			{{ end }}
	</div>
</div>
{{ end }}
{{ end }}
{{ end }}
