<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}
	<link href="{{ .Site.BaseURL }}css/single.css" rel="stylesheet">

  <body onscroll="bodyScrolled()">

		{{ partial "nav.html" . }}
		<div class="guide-container">
			<h2>Our projects</h2>
			<br>
			<div class="mdl-grid filters">
				
				<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone filters__title-container">
					<p class="filters__title">Filter projects by</p>
				</div>
				
				<div class="mdl-cell mdl-cell--9-col mdl-cell--4-col-phone content-container">
					<button class="mdl-button mdl-js-button mdl-js-ripple-effect filters__button filters__button--active" id="filter-button--all" onclick="filterPanels(this)">
						All
					</button>
					{{ range .Site.Params.getting_started.languages }}
					<button class="mdl-button mdl-js-button mdl-js-ripple-effect filters__button" id="filter-button--{{ .id }}" onclick="filterPanels(this)">
						<i class="{{ .icon }}" aria-hidden="true"></i>&nbsp;&nbsp;{{ .name }}
					</button>
					{{ end }}
				</div>
			</div>
			
			<br>
			
			<div class="mdl-grid guide__projects-container">
				{{range .Site.Data.guide }}
				<div class="mdl-cell--4-col mdl-cell--4-col-phone guide__project-cell" id="guide__col--for-{{ .name }}" onload="{{ .languages }}">
					<div class="guide__project-container">
						<p class="guide__project__title">{{ .name }}</p>
						<p class="guide__project__description">{{ .description }}</p>
					</div>
					
					<div class="guide__issues-container">
						<div class="mdl-grid">
							<div class="mdl-cell--8-col mdl-cell--4-col-phone">
								<p class="guide__issues__title">Get started!</p>
							</div>
							<div class="mdl-cell--5-col mdl-cell--hide-phone guide__issues__loader-container" id="spinner--for-{{ .project_id }}">
								<div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active guide__issues__loader"></div>
							</div>
							<p class="guide__issues__subtitle">Here are a few things you can work on</p>
							<div class="guide__issues" id="{{ .project_id }}"></div>
						</div>
					</div>
					
					<div class="guide__host-container">
						<div class="guide__host__languages">
							<p class="guide__host__titles">Languages used</p>
							{{range .languages }}
							<span class="mdl-chip">
								<span class="mdl-chip__text">{{ . }}</span>
							</span>		
							{{ end }}
							<span class="divider"></span>
						</div>
						<div class="guide__host__repository">
							<button class="mdl-button mdl-js-button mdl-js-ripple-effect guide__source-link" onclick="openURL('{{ .repository_url }}', '_blank')">
								View source code
							</button>
						</div>
						<span class="divider"></span>
						<div class="guide__host__setup">
							<button class="mdl-button mdl-js-button mdl-js-ripple-effect guide__source-link" onclick="openURL('{{ .setup_link }}', '_blank')">
								Set up {{ .name }}
							</button>
						</div>
					</div>
				</div>
				{{ end }}
			</div>
		</div>
		<div class="guide__credits"><p>Project descriptions and filter wireframes by Jonathan Du</p></div>
		{{ partial "footer.html" . }}
		
		{{ partial "scripts.html" . }}
		
  </body>
	<style>
		body {
			background-color: rgb(250, 250, 250);
		}
	</style>
</html>
