<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}
	<link href="{{ .Site.BaseURL }}css/single.css" rel="stylesheet">

  <body onscroll="bodyScrolled()">
		{{ partial "nav.html" . }}
		<div class="mdl-grid">
			<div class="single__content mdl-cell mdl-cell--7-col">
				{{ .Content }}
			</div>
			<div class="single__content mdl-cell mdl-cell--4-col">
				{{ partial "search.html" . }}
			</div>
			{{ if .Site.DisqusShortname }}
			<div id="comments">
				{{ template "_internal/disqus.html" . }}
			</div>
			{{ end }}
		</div>
		{{ partial "footer.html" . }}

		{{ partial "scripts.html" . }}
		<script defer src="{{ .Site.BaseURL }}js/single.js"></script>
	</body>
</html>
