:root {
	--primary : #FF9800;
	--primary-dark : #EF6C00;
	--primary-light : #FFA726;
	
	--primary-filler: #333;
	--primary-filler--accent: rgb(100, 100, 100);
	--secondary-filler: #444;
	--secondary-filler--accent: #555;
	--tertiary-filler: #666;
	
	--primary-text: #FFF;
	--secondary-text: #EEE;
	--tertiary-text: #DDD;
	--tertiary-text--accent: #CCC;
}