:root {
	--primary : #FF9800;
	--primary-dark : #EF6C00;
	--primary-light : #FFA726;
	--primary-washed: #FFE0B2;
	
	--primary-filler: #FFF;
	--primary-filler--accent: rgb(250, 250, 250);
	--secondary-filler: #EEE;
	--secondary-filler--accent: rgb(240, 240, 240);
	--tertiary-filler: #DDD;
	
	--primary-text: #000;
	--secondary-text: #666;
	--tertiary-text: #333;
	--tertiary-text--accent: #111;
}