/**/

body {
	background-color: rgb(250, 250, 250);
}

@media only screen and (max-width: 600px) {
	.navbar__buttons--with-dropdown {
		display: none;		
	}
	
	.navbar__submenu-container {
		display: none;
	}
	
	.navbar__buttons--visible {
		display: block !important;
		text-align: left !important;
		padding: 5px;
		background-color: transparent;
		border-radius: 5px;
		outline: 0;
		border: 0;
		width: auto;
		font-family: 'Montserrat';
	}
	
	.header__caption {
		font-size: 2em !important;
		width: 80%;
		line-height: 2em !important;
		margin: auto !important;
		padding-top: 50% !important;
	}
	
	.feature__text__content {
		width: 90% !important;
		height: 100px;
	}
	
	.team__item {
		padding: 10px !important;
		text-align: center;
		width: 90% !important;
		margin: 0 !important;
		height: 170px !important;
	}
	
	.team__image {
		height: 90px !important;
		width: 90px !important;
	}
	
	.features-container {
		height: 70vh !important;
	}
	
	.project {
		display: block !important;
	}
	
	.guide__project-container, .guide__issues-container, .guide__host-container {
		background-color: #FFF;
		margin: 0 !important;
		border: 0 !important;
	}

	.guide__project-container:hover, .guide__issues-container:hover, .guide__host-container:hover {
		box-shadow: none !important;
	}
	
	.guide-container {
		width: 100vw !important;
		padding: 0 !important;
	}
	
	.filters {
		width: 90vw;
	}
}

.navbar-container {
	margin-top: 0;
	position: fixed;
	width: 100%;
	transition: background-color 0.2s;
	z-index: 2;
}

.navbar-container--collapsed {
	margin-top: 0;
	-webkit-box-shadow: 10px 10px 28px -3px rgba(0,0,0,0.25);
	-moz-box-shadow: 10px 10px 28px -3px rgba(0,0,0,0.25);
	box-shadow: 10px 10px 28px -3px rgba(0,0,0,0.25);
	position: fixed;
	width: 100%;
	background-color: var(--primary-filler);
	border-radius: 0 0 5px 5px;
	transition: background-color 0.2s;
	z-index: 2;
}

.navbar__hamburger {
	float: right;
	display: inline;
	position: absolute;
	right: 20px;
}

.logo {
	display: inline-block;
	width: 40px;
	margin: 0;
	padding: 0;
}

.title, .subtitle {
	font-size: 20px;
	font-family: 'Montserrat';
	font-weight: bold;
	color: var(--primary);
	display: inline;
	cursor: pointer;
}

.subtitle {
	color: var(--secondary-text);
	transition: visibility 0.1s;
}

.navbar__buttons--with-dropdown {
	color: var(--primary);
	font-weight: 600;
	margin: 0 3px 0 3px;
}

.navbar__buttons--hidden {
	display: none !important;
}

.navbar__buttons-container {
	float: right;
	height: 100%;
}

.navbar__buttons__dropdown {
	float: left;
	border-radius: 50px !important;
}

.navbar__buttons__dropdown-item {
	font-size: 1em;
}

.header-container {
	height: 90vh;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-box-shadow: inset 0px 20px 130px -37px rgba(0,0,0,0.81);
	-moz-box-shadow: inset 0px 20px 130px -37px rgba(0,0,0,0.81);
	box-shadow: inset 0px 20px 130px -37px rgba(0,0,0,0.81);
}

.header__caption {
	margin: 0;
	color: transparent;
	font-family: 'Montserrat';
	font-weight: bold;
	line-height: 90vh;
	color: #FFF;
	text-align: center;
	font-size: 60px;
}

.features-container {
	height: 50vh;
	width: 100%;
	background-color: var(--secondary-filler--accent);
}

.features__titles-container {
	margin: auto;
	width: 100%;
	text-align: center;
	padding-top: 50px;
}

.features__title {
	margin: 0 3px 0 3px;
}

.feature--focussed {
	background-color: var(--primary);
}

.feature--focussed i{
	color: var(--secondary-filler--accent);
}

.features__text-container {
	width: 100%;
	text-align: center;
}

.feature-container {
	display: none;
}

.feature__text__title {
	font-size: 20px;
	font-weight: bold;
	color: var(--primary);
	font-family: 'Montserrat';
	margin-top: 50px;
}

.feature__text__content {
	font-size: 16px;
	color: var(--secondary-text);
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.2em;
	font-family: 'Roboto';
}

.projects-container {
	background-color: var(--tertiary-filler);
	padding: 20px;
}

.projects-container__title, .source__title, .team__title, .sponsor__title {
	font-size: 18px;
	color: var(--primary);
	font-family: 'Montserrat';
	font-weight: bold;
	width: 100%;
	text-align: center;
	padding-top: 30px;
	
}

.project {
	display: none;
}

.project__button, .source__button {
	color: var(--tertiary-text);
	font-weight: bold;
	margin: 5px;
	min-width: 200px;
	text-align: left;
}

.project__button--focussed, .source__button {
	color: var(--primary-filler);
	background-color: var(--primary);
}

.project__title {
	font-family: 'Montserrat';
	color: var(--secondary-text);
	font-size: 16px;
	font-weight: 600;
}

.project__description {
	color: var(--primary-text);
	text-align: justify;
}

.project__image {
	width: 100%;
	border-radius: 5px;
}

.project__more-info-button {
	color: var(--primary-dark);
	font-weight: 600;
	background-color: rgba(0, 0, 0, 0.1);
}

.source-container {
	background-color: var(--secondary-filler);
	padding: 20px;
	text-align: center;
	align-content: center;
	align-items: center;
}

.source__subtitle {
	font-size: 16px;
	color: var(--secondary-text);
	width: 100%;
	text-align: center;
}

.source__button {
	margin-bottom: 20px;	
}

.team-container {
	background-color: var(--primary-filler--accent);
}

.team-container .mdl-grid {
	text-align: center;
}

.team__subtitle {
	font-family: 'Montserrat';
	font-weight: 600;
	color: var(--secondary-text);
	width: 100%;
	text-align: center;
	
}

.team__item {
	overflow: hidden;
	background-color: var(--primary-filler);
	border-radius: 5px;
	padding: 5px;
	text-align: center;
	width: 10vw;
	margin: 10px;
	height: 220px;
	padding: 30px;
	display: inline-block;
	-webkit-box-shadow: 5px 5px 28px -3px rgba(0,0,0,0.1);
	-moz-box-shadow: 5px 5px 28px -3px rgba(0,0,0,0.1);
	box-shadow: 5px 5px 28px -3px rgba(0,0,0,0.1);
}

.team__item:hover {
	-webkit-box-shadow: 5px 5px 28px -3px rgba(0,0,0,0.25);
	-moz-box-shadow: 5px 5px 28px -3px rgba(0,0,0,0.25);
	box-shadow: 5px 5px 28px -3px rgba(0,0,0,0.25);
	transition: 0.2s;
}

.team__image {
	height: 130px;
	width: 130px;
	background-position: center;
	background-size: cover;
	border-radius: 3600px;
}

.team__name {
	font-size: 16px;
	color: var(--secondary-text);
	text-transform: capitalize;
	margin-top: 20px;
}

.sponsor-container {
	width: 100%;
	background-color: var(--primary-light);
	padding-top: 30px;
	padding-bottom: 30px;
}

.sponsor__title {
	color: #FFF;
}

.sponsor-container .mdl-grid .mdl-cell {
	text-align: center;
	line-height: 100px;
}

.sponsor__image {
	filter: grayscale(1);
	opacity: 0.5;
	transition: all 0.2s;
	display: inline-block;
	vertical-align: middle;
	max-height: 100px;
}

.sponsor__image:hover {
	filter: grayscale(0);
	opacity: 1;
}

.footer-container {
	padding: 30px 0 30px 0;
	width: 100%;
	background-color: var(--primary);
}

.footer__about-us__title {
	margin-left: 20px;
	color: #FFF;
	font-family: 'Montserrat';
	font-weight: 600;
	font-size: 18px;
}

.footer__about-us__text {
	margin-left: 20px;
	color: #FFF;
	font-size: 16px;
}

.footer__attribution-text {
	margin-left: 20px;
	color: #666;
	font-size: 16px;
}

.footer__link {
	color: #FFF;
	margin: 5px;
}

.search-container {
	background-color: var(--secondary-filler);
	border-radius: 5px;
}

.search-bar {
	background-color: var(--tertiary-filler);
	border-radius: 5px;
}

.search-bar__input {
	background-color: var(--tertiary-filler);
	outline: 0;
	width: 100%;
	border: 0;
	height: 100%;
}

.search__icon {
	height: 100%;
	vertical-align: middle;
	color: var(--secondary-text);
}

/* Styles for getting started guide */
.guide-container {
	padding: 20px;
	width: 80vw;
	margin: auto;
}

.filters {
	border: 1px solid #DDD;
	border-radius: 5px;
	background-color: #FFF;
}

.filters__title {
	font-family: 'Montserrat';
	font-weight: 600;
	height: 100%;
	margin: auto;
	display: block;
}

.filters__button {
	color: var(--primary);
	font-weight: 600;
}

.filters__button--active {
	background-color: var(--primary);
	color: #FFF;
	font-weight: 600;
	
}

.filters__content {
	text-align: left;
}

.content-container {
	margin: auto;
}

.guide__project-container, .guide__issues-container, .guide__host-container {
	background-color: #FFF;
	margin: 20px;
	border-radius: 5px;
	border: 1px solid #DDD;
	transition: all 0.2s;
	padding: 20px;
}

.guide__project-container:hover, .guide__issues-container:hover, .guide__host-container:hover {
	-webkit-box-shadow: 5px 5px 28px -3px rgba(0,0,0,0.05);
	-moz-box-shadow: 5px 5px 28px -3px rgba(0,0,0,0.05);
	box-shadow: 5px 5px 28px -3px rgba(0,0,0,0.05);
	
}

.guide__project__title, .guide__issues__title, .guide__host__titles {
	font-family: 'Montserrat';
	font-weight: 600;
	color: var(--primary-dark);
	font-size: 18px;
}

.guide__project__description {
	text-align: justify;
	font-size: 1em;
}

.guide__issues__title, .guide__host__titles {
	font-size: 16px;
	color: #666;
}

.guide__issues__subtitle {
	font-size: 14px;
	color: #666;
	margin: -10px 0 auto 0;
}

.guide__issues__loader {
	width: 20px;
	height: 20px;
	float: right;
	display: block;
}

.guide__issue {
	border-bottom: 1px solid #EEE;
}

.guide__issue__number {
	color: #AAA;
	font-family: 'Montserrat';
	margin: auto 0 -10px 0;
}

.guide__issue__title {
	color: #000;
	font-size: 16px;
	color: #444;
	margin: auto 0 5px 0;
	font-family: 'Roboto';
}

.guide__issue__number::before {
	content: '#';
}

.guide__issues__link {
	margin: auto;
	font-weight: 600;
	color: var(--primary);
	margin-top: 5px;
	width: 100%;
}

.guide__source-link {
	color: #FFF;
	font-weight: 600;
	background-color: rgba(255, 152, 0, 0.6);
}

.divider {
	width: 100%;
	height: 1px;
	background-color: #EEE;
	display: block;
	margin: 5px 0 5px 0;
}

.guide__credits {
	width: 100%;
	height: 100px;
	background-color: var(--primary-light);
}

.guide__credits p {
	color: #FFF;
	margin-left: 20px;
	line-height: 100px;
}

/* MDL style overrides */
.mdl-menu__outline {
	border-radius: 5px !important;
	-webkit-box-shadow: 21px 20px 72px -12px rgba(0,0,0,0.27);
	-moz-box-shadow: 21px 20px 72px -12px rgba(0,0,0,0.27);
	box-shadow: 21px 20px 72px -12px rgba(0,0,0,0.27);
}

.mdl-button {
	border-radius: 5px;
	text-transform: capitalize;
	font-family: 'Montserrat';
}

.mdl-button--icon {
	border-radius: 3600px;
	z-index: 1 !important;
}