body {
	background-color: var(--primary-filler);
	color: var(--primary-text);
}

.navbar-container {
	margin-top: 0;
	position: relative;
	width: 100%;
	transition: box-shadow 0.2s;
	z-index: 2;
	background-color: var(--primary-filler);
	border-radius: 0 0 5px 5px;
	border-bottom: 1px solid var(--tertiary-filler);
}

.navbar-container--collapsed {
	margin-top: 0;
	-webkit-box-shadow: 10px 10px 28px -3px rgba(0,0,0,0.25);
	-moz-box-shadow: 10px 10px 28px -3px rgba(0,0,0,0.25);
	box-shadow: 10px 10px 28px -3px rgba(0,0,0,0.25);
	position: fixed;
	width: 100%;
	background-color: var(--primary-filler);
	border-radius: 0 0 5px 5px;
	transition: box-shadow 0.2s;
	z-index: 2;
	top: 0 !important;
}

.single__content {
	margin: 20px;
	text-align: justify;
	height: 100%;
}

h1, h2, h3 {
	font-size: 18px;
	margin: 0;
	padding: 0;
	color: var(--secondary-text);
	font-family: 'Montserrat';
	font-weight: 600;
}

h1 {
	font-size: 20px;
}

h3 {
	font-size: 16px;
}

strong {
	font-family: 'Montserrat';
	color: var(--primary-text);
	font-weight: bold;
}