<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}

  <body onscroll="bodyScrolled()">

    <div id="all">

			{{ partial "nav.html" . }}
				
			{{ partial "header.html" . }}
			
			{{ partial "features.html" . }}
			
			{{ partial "projects.html" . }}
			
			{{ partial "source.html" . }}
			
			{{ partial "team.html" . }}
			
			{{ partial "sponsor.html" . }}
			
			{{ partial "footer.html" . }}


		</div>
		{{ partial "scripts.html" . }}
		
		<script defer src="{{ .Site.BaseURL }}js/index.js"></script>
  </body>
</html>
